/* @import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Calligraffitti&family=Coming+Soon&family=Henny+Penny&family=Metal+Mania&family=Miniver&family=Nanum+Pen+Script&family=Playpen+Sans&family=Qwitcher+Grypen:wght@700&family=Tulpen+One&display=swap');

@import url('https://fonts.cdnfonts.com/css/graffiti-font');
@import url('https://fonts.cdnfonts.com/css/mg-dalenaf');
@import url('https://fonts.cdnfonts.com/css/angers-script');
@import url('https://fonts.cdnfonts.com/css/faqro-pro'); */

/* @import url('https://fonts.cdnfonts.com/css/maulie-script');
@import url('https://fonts.cdnfonts.com/css/neumartha');
@import url('https://fonts.cdnfonts.com/css/dellova');
@import url('https://fonts.cdnfonts.com/css/hey-christmas-2');
@import url('https://fonts.cdnfonts.com/css/kadupul-flowers');
@import url('https://fonts.cdnfonts.com/css/kochi');
@import url('https://fonts.cdnfonts.com/css/malista');
@import url('https://fonts.cdnfonts.com/css/payung-senja');
@import url('https://fonts.cdnfonts.com/css/mangosteen-3');
@import url('https://fonts.cdnfonts.com/css/angelica-rytes'); */


/* 
font-family: 'Maulie Script', sans-serif;
font-family: 'Neumartha', sans-serif;
font-family: 'Dellova', sans-serif;     
font-family: 'Hey Christmas', sans-serif;            
font-family: 'Kadupul Flowers', sans-serif;      
font-family: 'KOCHI', sans-serif;       
font-family: 'Malista', sans-serif;        
font-family: 'Payung Senja', sans-serif;  
font-family: 'Mangosteen', sans-serif;
font-family: 'Angelica Rytes', sans-serif;
*/